%div{"data-role" => "header"}
  %h1= @envelope.name
  %a{:href => account_path(@envelope.account), :class => "ui-btn-left ui-btn-back", "data-icon" => "arrow-l"}Back
%div{"data-role" => "content"}
  = form_for Transaction.new, :url => account_envelope_transactions_path(@envelope.account, @envelope) do |f|
    %div{"data-role" => "fieldcontain"}
      =f.label :name
      =f.text_field :name
      =f.label :amount
      %input{:type => "number", :name => "transaction[amount]", :id => "transaction_amount"}
      %fieldset{"data-role" => "controlgroup", "data-type" => "horizontal"}
        %legend Debit?
        %input{:type => "radio", :name => "debit?", "value" => "true", :checked => "checked", :id => "transaction_debit_true"}
        %label{:for => "transaction_debit_true"} Debit
        %input{:type => "radio", :name => "debit?", "value" => "false", :id => "transaction_debit_false"}
        %label{:for => "transaction_debit_false"} Deposit
      =f.submit
  %h2 Last five transactions
  %ul{"data-role" => "listview"}
    -@transactions.each do |transaction|
      %li
        ="#{transaction.created_at.strftime('%m-%d-%y')} - #{transaction.name}"
        %div{:class => "ui-li-aside ui-li-desc"}
          %strong=number_to_currency(transaction.amount)
