%div{"data-role" => "header"}
  %h1= @account.name
%div{"data-role" => "content"}
  %ul{"data-role" => "listview"}
    -@account.envelopes.each do |envelope|
      %li
        %a{:href => account_envelope_path(@account,envelope)}
          =envelope.name
          %div{:class => "ui-li-aside ui-li-desc"}
            %strong=number_to_currency(envelope.balance)
